.dialogs {
   display: grid;
   grid-template-columns: 2fr 10fr;
}

.dialogsItems {
   padding: 20px;
   display: grid;
}

.dialog.active {
   color: gold;
}

.messages {
   padding: 20px;
   color: white;
}

.message {}